<div>
    <div class="horizontalcenter">
        <h3>NFC Tag</h3>
    </div>
    <!--div class="horizontalcenter" *ngIf="nfctrigger">
        <ngx-barcode
            bc-width="1"
            bc-height="50"
            [bc-value]="nfctrigger"
            [bc-display-value]="true">
        </ngx-barcode>
    </div-->
    <div class="horizontalcenter" *ngIf="nfctrigger">
        Read this via NFC or scan with your camera:
    </div>
    <div class="horizontalcenter" *ngIf="nfctrigger">
        <ngx-qrcode 
                [qrc-value] = "'https://demo.dncash.io/token?triggercode='+nfctrigger"
                qrc-class = "qrcode"
                qrc-errorCorrectionLevel = "M">
        </ngx-qrcode>
    </div>
    <div class="horizontalcenter" *ngIf="nfctrigger">
        {{'https://demo.dncash.io/token?triggercode='+nfctrigger}}
    </div>
</div>
