/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    border: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif
}

.fullscreencenter {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.qrcode, .qrcode img {
    width: 320px;
}

.horizontalcenter {
    display: flex;
    justify-content: center; /* align horizontal */
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}
